
@import "reset";
@import "mixins";
@import "parrent";


$white:#fff;
$black:#000;
$transit-duration: .2s;
$transit-timing-function: ease-in;

/*for light theme application*/
%light-theme{
    background-color:$white;
    color:$black;
}

/*for dark theme application*/
%dark-theme{
    background-color: $black;
    color: $white;
}

%flex-row-center{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
}


img{
    @extend %icons-cover-in-block;
    
}

.light {
    @extend %light-theme;
    @include transition-theme-handle;

}

.dark{
    @extend %dark-theme;
    @include transition-theme-handle;
}




.header{
    @include max-border;
    @extend %flex-row-center;
    box-shadow: 0 0 5px $black;
    justify-content: space-between;
    @include horizontal-padding(10px);
    z-index: var(--header-z-index);
    height:60px;

    &__nav{
        position: relative;
        width: clamp(580px, 80%, 1200px);
        min-width:580px;
        height: 90%;
        border: 1px solid black;
        @extend %flex-row-center;
        justify-content: space-between;


        &-item{
            @include horizontal-padding(10px);
            @include transition-theme-handle;
            position: relative;
            font-size: clamp(16px, 18px, 24px);
            cursor: pointer;

            &:hover{
                color:#dd02b9;
            }
        }

        &-settings{
            position:relative;
            @include horizontal-padding(10px);
            height:90%;
            aspect-ratio: 1/1;
            border: 1px solid black;
            cursor: pointer;

    
        }
    }
 
}


.section-menu{
    @include horizontal-padding(10px);
    position: absolute;
    z-index: var(--sidebar-z-index);
    height: 60vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    border-radius: 0 0 20px 20px;
}